<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p >连接表达式@{}</p>
<a th:href="@{index.html}">返回</a>
<br/>
<a th:href="@{/user/home}">/user/home</a>
<br/>
<a th:href="@{./user/home}">./user/home</a>
<br/>
<a th:href="@{../user/home}">../user/home</a>
<br/>
<a th:href="@{/home(110)}">/home(110)带参数</a>
<br/>
<a th:href="@{/home(110,19,'jim')}">/home(110,19,'jim')带参数</a>
<br/>
<a th:href="@{/home(id=110)}">/home(id=110)带参数</a>
<br/>
<a th:href="@{/home(id=110,name='jim')}">/home(id=110,name='jim'))带参数</a>
<br/>
<a th:href="@{/home(id=110,url=${linkUrl})}">/home(id=110,url=${linkUrl})带参数</a>
<br/>
<a th:href="@{/user/${linkUrl}}">/user/${linkUrl}变量不能放在url中</a>
<br/>
<a th:href="@{http://www.baidu.com}">www.baidu.com</a>

</body>
</html>