<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>愿望详细</title>
  <link rel="stylesheet" href="../front/third_lib/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="../front/css/common.css"/>
  <link rel="stylesheet" href="../front/css/wish.css"/>
</head>
<body>


<div class="main-nav">
  <div class="main-container">
    <div class="logo">
      <a href="/front/index">爱心<span class="glyphicon glyphicon-heart heart-image"></span>圆梦</a>
    </div>

    <ul class="nav-list">
      <!--<li><a href="../front/home.html">首页</a></li>
      <li class="active"><a href="wishes.html">愿望清单</a></li>
      <li><a href="realizations.html">圆梦故事</a></li>
      <li><a href="contact.html">联系我们</a></li>-->

      <li class="active"><a href="/front/index">首页</a></li>
      <li class="active"><a href="/front/wishes">愿望清单</a></li>
      <li><a href="/front/realizations">圆梦故事</a></li>
      <li><a href="/front/contact">联系我们</a></li>
    </ul>
  </div>
</div>


<div id="wish" class="main-container">
  <div class="wish-picture">
    <img src="../front/images/p1.jpg" alt="wish picture"/>
  </div>
  <div class="wish-content">
    <div class="title">一个标题：呵呵呵</div>

    <div class="description-row info-top">

      <span class="description-label">
        <span class="glyphicon glyphicon-send"></span>
        <span>他的愿望</span>
      </span>


      <div class="description">prprpr地说一堆东西，虽然并没有什么卵用，可是让人看了会很感动，很感动。所以你还是能编什么就编什么啦.总之编得就编</div>
    </div>

    <div class="wish-row info-top">
      <span class="row-label">姓名</span>
      <div class="name row-main">少女</div>
    </div>

    <div class="wish-row info-top">
      <span class="row-label">地址</span>
      <div class="address row-main">一个很远很远的地方噢</div>
    </div>



    <div class="wish-row info-top">
      <a class="btn btn-default btn-lg btn-desire" href="apply.html">帮他圆梦</a>
    </div>
  </div>

</div>




<script src="../front/third_lib/jquery/jquery.js"></script>
<script src="../front/third_lib/bootstrap/js/bootstrap.js"></script>

</body>
</html>