<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lquan.layui.dao.StatementMapper">

    <resultMap type="com.lquan.layui.domain.Statement" id="StatementMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="templateid" column="templateID" jdbcType="INTEGER"/>
        <result property="type" column="Type" jdbcType="INTEGER"/>
        <result property="title" column="Title" jdbcType="VARCHAR"/>
        <result property="subtype" column="SubType" jdbcType="INTEGER"/>
        <result property="number" column="Number" jdbcType="VARCHAR"/>
        <result property="active" column="Active" jdbcType="INTEGER"/>
        <result property="createdat" column="CreatedAt" jdbcType="TIMESTAMP"/>
        <result property="createdby" column="CreatedBy" jdbcType="VARCHAR"/>
        <result property="updatedat" column="UpdatedAt" jdbcType="TIMESTAMP"/>
        <result property="updatedby" column="UpdatedBy" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="StatementMap">
        select
          ID, templateID, Type, Title, SubType, Number, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy
        from statement
        where ID = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="StatementMap">
        select
          ID, templateID, Type, Title, SubType, Number, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy
        from statement
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="templateid != null">
                and templateID = #{templateid}
            </if>
            <if test="type != null">
                and Type = #{type}
            </if>
            <if test="title != null and title != ''">
                and Title = #{title}
            </if>
            <if test="subtype != null">
                and SubType = #{subtype}
            </if>
            <if test="number != null and number != ''">
                and Number = #{number}
            </if>
            <if test="active != null">
                and Active = #{active}
            </if>
            <if test="createdat != null">
                and CreatedAt = #{createdat}
            </if>
            <if test="createdby != null and createdby != ''">
                and CreatedBy = #{createdby}
            </if>
            <if test="updatedat != null">
                and UpdatedAt = #{updatedat}
            </if>
            <if test="updatedby != null and updatedby != ''">
                and UpdatedBy = #{updatedby}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from statement
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="templateid != null">
                and templateID = #{templateid}
            </if>
            <if test="type != null">
                and Type = #{type}
            </if>
            <if test="title != null and title != ''">
                and Title = #{title}
            </if>
            <if test="subtype != null">
                and SubType = #{subtype}
            </if>
            <if test="number != null and number != ''">
                and Number = #{number}
            </if>
            <if test="active != null">
                and Active = #{active}
            </if>
            <if test="createdat != null">
                and CreatedAt = #{createdat}
            </if>
            <if test="createdby != null and createdby != ''">
                and CreatedBy = #{createdby}
            </if>
            <if test="updatedat != null">
                and UpdatedAt = #{updatedat}
            </if>
            <if test="updatedby != null and updatedby != ''">
                and UpdatedBy = #{updatedby}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into statement(templateID, Type, Title, SubType, Number, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy)
        values (#{templateid}, #{type}, #{title}, #{subtype}, #{number}, #{active}, #{createdat}, #{createdby}, #{updatedat}, #{updatedby})
    </insert>
    
    
              <!-- 新增选择列 -->
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
        insert into statement
        <trim prefix="(" suffix=")" suffixOverrides="," >
                    <if test="id != null">
                `ID`,
            </if>
                    <if test="templateid != null">
                `templateID`,
            </if>
                    <if test="type != null">
                `Type`,
            </if>
                    <if test="title != null and title != ''">
                `Title`,
            </if>
                    <if test="subtype != null">
                `SubType`,
            </if>
                    <if test="number != null and number != ''">
                `Number`,
            </if>
                    <if test="active != null">
                `Active`,
            </if>
                    <if test="createdat != null">
                `CreatedAt`,
            </if>
                    <if test="createdby != null and createdby != ''">
                `CreatedBy`,
            </if>
                    <if test="updatedat != null">
                `UpdatedAt`,
            </if>
                    <if test="updatedby != null and updatedby != ''">
                `UpdatedBy`,
            </if>
                </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                    <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
                    <if test="templateid != null">
                #{templateid,jdbcType=INTEGER},
            </if>
                    <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
                    <if test="title != null and title != ''">
                #{title,jdbcType=VARCHAR},
            </if>
                    <if test="subtype != null">
                #{subtype,jdbcType=INTEGER},
            </if>
                    <if test="number != null and number != ''">
                #{number,jdbcType=VARCHAR},
            </if>
                    <if test="active != null">
                #{active,jdbcType=INTEGER},
            </if>
                    <if test="createdat != null">
                #{createdat,jdbcType=TIMESTAMP},
            </if>
                    <if test="createdby != null and createdby != ''">
                #{createdby,jdbcType=VARCHAR},
            </if>
                    <if test="updatedat != null">
                #{updatedat,jdbcType=TIMESTAMP},
            </if>
                    <if test="updatedby != null and updatedby != ''">
                #{updatedby,jdbcType=VARCHAR},
            </if>
                </trim>
    </insert>
    

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into statement(templateID, Type, Title, SubType, Number, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.templateid}, #{entity.type}, #{entity.title}, #{entity.subtype}, #{entity.number}, #{entity.active}, #{entity.createdat}, #{entity.createdby}, #{entity.updatedat}, #{entity.updatedby})
        </foreach>
    </insert>
    

    

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into statement(templateID, Type, Title, SubType, Number, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.templateid}, #{entity.type}, #{entity.title}, #{entity.subtype}, #{entity.number}, #{entity.active}, #{entity.createdat}, #{entity.createdby}, #{entity.updatedat}, #{entity.updatedby})
        </foreach>
        on duplicate key update
        templateID = values(templateID),
        Type = values(Type),
        Title = values(Title),
        SubType = values(SubType),
        Number = values(Number),
        Active = values(Active),
        CreatedAt = values(CreatedAt),
        CreatedBy = values(CreatedBy),
        UpdatedAt = values(UpdatedAt),
        UpdatedBy = values(UpdatedBy)
    </insert>
    



    <!--通过主键修改数据-->
    <update id="update">
        update statement
        <set>
            <if test="templateid != null">
                templateID = #{templateid},
            </if>
            <if test="type != null">
                Type = #{type},
            </if>
            <if test="title != null and title != ''">
                Title = #{title},
            </if>
            <if test="subtype != null">
                SubType = #{subtype},
            </if>
            <if test="number != null and number != ''">
                Number = #{number},
            </if>
            <if test="active != null">
                Active = #{active},
            </if>
            <if test="createdat != null">
                CreatedAt = #{createdat},
            </if>
            <if test="createdby != null and createdby != ''">
                CreatedBy = #{createdby},
            </if>
            <if test="updatedat != null">
                UpdatedAt = #{updatedat},
            </if>
            <if test="updatedby != null and updatedby != ''">
                UpdatedBy = #{updatedby},
            </if>
        </set>
        where ID = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from statement where ID = #{id}
    </delete>



    <!--查询指定行数据-->
    <select id="queryAllByBean" resultMap="StatementMap">
        select
        ID, templateID, Type, Title, SubType, Number, Active, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy
        from statement
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="templateid != null">
                and templateID = #{templateid}
            </if>
            <if test="type != null">
                and Type = #{type}
            </if>
            <if test="title != null and title != ''">
                and Title = #{title}
            </if>
            <if test="subtype != null">
                and SubType = #{subtype}
            </if>
            <if test="number != null and number != ''">
                and Number = #{number}
            </if>
            <if test="active != null">
                and Active = #{active}
            </if>
            <if test="createdat != null">
                and CreatedAt = #{createdat}
            </if>
            <if test="createdby != null and createdby != ''">
                and CreatedBy = #{createdby}
            </if>
            <if test="updatedat != null">
                and UpdatedAt = #{updatedat}
            </if>
            <if test="updatedby != null and updatedby != ''">
                and UpdatedBy = #{updatedby}
            </if>
        </where>

    </select>

</mapper>

